/* font-family: 'Chivo', sans-serif;
font-family: 'Crimson Pro', serif; */
a{
  cursor: pointer;
  color: #534741;
  text-decoration: none;
}
body{
  color: #534741;
  margin:0;
}
.body{
  /* position: fixed; */
  /* display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start; */
}
.bar{
  position: fixed;
  top:0;
  left:0;
  z-index: 12;
  width: 100vw;
  height: 10vh;
  background-color: white;
  opacity: 0;
}
.section-logo{
  position: fixed;
  top: 2.5vw;
  left:2.5vw;
  /* transform: translateY(-35%); */
  height:23vh;
width:20vh;
    z-index:20;
    /* background-color: blue; */

}

.logo{
  /* background-color: green; */
position: absolute;
top: 0;
  width: 100%;
}

.logo img{
    width: 100%;
}
.logo-condensed{
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
  /* background-color: red; */
  opacity:0;
  position: absolute;
  top: 0;
    width: 100%;
}
.logo-condensed img{
  width:65%;
}
.section-content{
  /* position: absolute;
  top: 0;
  left:12vw; */
  width:100vw;
  height:100%;
  /* background-color: yellow; */
}
.menudesktop{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 12;
  position: fixed;
  /* mix-blend-mode: difference; */
  /* background-color: white; */
  top: 0vh;
  left: 20vw;
  width:80vw;
    height: 10vh;
}
.nav{
  color: #534741;
   font-family: 'Chivo', sans-serif;
   font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  text-align: center;
width:25%;
height: 100%;
/* background-color: green; */
display: flex;
flex-wrap: nowrap;
justify-content:  flex-start;
align-items: center;
}
.nav a{
  margin-left:2.5vw;
  transition: .02s;
      color: #534741;
      font-weight: 400;
          /* border-bottom: .4rem solid #534741; */
}

.nav a:hover{
  font-weight: 400;
    color: #534741;

      /* border-bottom: .4rem solid #534741; */
}
.nav1{
  font-family: 'Chivo', sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
 text-align: center;
width:25%;
height: 100%;
/* background-color: blue; */
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
}
.nav1 a{
  margin-left:2.5vw;
  font-weight: 400;
    color: #534741;
  border-bottom: .4rem solid #534741;
}
.section1{
  width:100%;
  height:100vh;
  /* background-color: blue; */
  position: relative;
  top:0;
}
.hero{
    width:100%;
    height:100%;
    /* background-color: red; */
  background-position: bottom;
 background-size: cover;
 background-repeat: no-repeat;
  background-image: url(hero.png);
  /* position: absolute;
  top:0;
  left:0; */
}

.copy{
  font-family: 'Crimson Pro', serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  text-align: left;
  position: sticky;
  top:0;
}
.credits{
    position: relative;
  padding: 0px 0 40px 0;
  /* position: sticky;
  top:10vh; */
  background-color: #f3ebdd;
  width:100%;

}
.credit{
  background-color: #f3ebdd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.credit1{
  background-color: #f3ebdd;
  padding: 25px 0 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
  width:33.3%;
}
.credit1 img{
    /* background-color: blue; */
  width:30%;
}
.padding{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  /* background-color: blue; */
  width:95%;
  height:100%;
}
.section2{
  width:100%;
  height:390vh;
  position: relative;
  background-color: #f3ebdd;
    /* background-color: blue; */
}

.title{
  z-index:10;
  position: sticky;
  top: 10vh;
width: 95%;
/* padding-top:2.5%; */
padding-left: 2.5%;
padding-right: 2.5%;
/* margin-right: auto; */
height:10vh;
background-color: #f3ebdd;
/* background-color:white; */
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
}
.name{
  /* color:#257f4d; */
  background-color:white;
  line-height: 0;
  font-style: italic;
  font-family: 'Crimson Pro', serif;
  font-size: calc(24px + 8 * ((100vw - 320px) / 1280));
}
.cta{
  /* background: blue; */
  /* padding-left: 20px; */
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Chivo', sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
}
.cta-words{
  /* background: red;
   */
  /* border-bottom: .4rem solid #534741; */
}
.cta img{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  width:25px;
  /* background-color: yellow; */
}
.info{
  width:100%;
  height:100%;
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: red; */
}

.block{
  cursor: pointer;
  width:100%;
  height:33.33%;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.box1-1{
background-image: url(deer2.jpg);
  background-position: center;
background-size: cover;
background-repeat: no-repeat;
  /* background-color: blue; */
  width:50%;
  height:100%;
}
.box1-2{
  background-image: url(bulldog.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: yellow; */
  width:50%;
  height:100%;
}
.box1-3{
  background-image: url(bottlestopper.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: yellow; */
  width:50%;
  height:100%;
}
.box2{
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width:50%;
  height:100%;
}
.rect1{
  background-image: url(hero-1.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:50%;
}

.rect2{
  background-image: url(radio_full.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:50%;
}
.rect3{
  background-image: url(hero-1.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:50%;
}
.rect4{
  background-image: url(radio_full.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:50%;
}
.rect5{
  background-image: url(hero-1.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:50%;
}
.rect6{
  background-image: url(radio_full.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:50%;
}

.rect1-2column{
  cursor: pointer;
  background-color: pink;
width:50%;
height: 100%;
}
.rect2-2column{
    cursor: pointer;
  background-color: pink;
width:50%;
height: 100%;
}

.rect1-2column{
  background-position: center;
background-image: url(image1column.png);
background-size: cover;
background-repeat: no-repeat;
}
.rect2-2column{
  background-position: center;
background-image: url(image2column.png);
background-size: cover;
background-repeat: no-repeat;
}

.section3{
  width:100%;
  height:150vh;
  position: relative;
  background-color: #f3ebdd;
  /* position: sticky;
  left:0;
  top:0px; */
}
.rect1-4grid{
  /* background-color: white; */
  width:50%;
  height:48%;
}
.craft-image1{
  width:100%;
  height:90%;
  background-position: center;
  background-image: url(crafts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.craft-image2{
  width:100%;
  height:90%;
  background-position: center;
  background-image: url(crafts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.craft-image3{
  width:100%;
  height:90%;
  background-position: center;
  background-image: url(crafts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.craft-image4{
  width:100%;
  height:90%;
  background-position: center;
  background-image: url(crafts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.craft-title{
  font-family: 'Crimson Pro', serif;
  font-size: calc(18px + 3 * ((100vw - 320px) / 1280));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  height:10%;
}
.section4{
  width:100%;
  height:100vh;
  position: relative;
  background-color: #f3ebdd;
  /* position: sticky;
  left:0;
  top:0px; */
}

.section5{
  /* z-index: 11; */
  position:relative;
  width:100%;
  height: 80vh;
  background-color: #f3ebdd;
}
.rect1-2row{
  font-family: 'Crimson Pro', serif;
font-size: calc(18px + 3 * ((100vw - 320px) / 1280));
  width:30%;
  padding-bottom: 20px;
  /* background-color: red; */
}
.rect2-2row{
  width:66%;
  height:100%;
  background-color: pink;
}
.contact{
    position:relative;
    width:100%;
    /* height:40vh; */
  background-color: yellow;
  display: flex;
  flex-wrap: nowrap;
    background-color: #534741;
    /* background-color: blue; */
  justify-content:flex-start;
  align-items: flex-start;
}
.contact1{
  line-height: calc(16px + 7 * ((100vw - 320px) / 1280));
  font-family: 'Crimson Pro', serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  color: #f3ebdd;
  background-color: #534741;
  /* background-color: red; */
  padding: 30px 0 30px 0;
  padding-left: 2.5vw;
  /* background-color: red; */
  width:20%;
}
.contact-title{

  color:#f3ebdd;
  font-weight: 400;
  font-family: 'Chivo', sans-serif;
  font-size: calc(15px + 4 * ((100vw - 320px) / 1280));
}
.menumobile{
  display: none;
}
footer{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width:100%;
  font-family: 'Crimson Pro', serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  color: #f3ebdd;
  height: 10vh;
  background-color: #534741;
}
.menuclose,
.menusplash{
  display: none;
}

@media(max-width:800px){

  .menudesktop{
    display: none;
  }
  .menumobile{
    cursor:pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    z-index: 12;
    position: fixed;
    /* background-color: red; */
    top: 0vh;
    left: 0;
    width:97.5%;
      height: 10vh;
  }
  .menuclose{
    cursor: pointer;
    display: none;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    z-index: 101;
    position: fixed;
    top: 0vh;
    right:2.5%;
      height: 10vh;
  }
.menunav{
  cursor: pointer;
  font-family: 'Chivo', sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  border-bottom: .4rem solid #534741;
}
.menusplash{
  width:100vw;
  height:100vh;
  position: fixed;
  background-color: white;
  z-index:100;
  /* opacity: .8; */
  top:0;
  left:0;
  display: none;
  flex-wrap: wrap;
}
.show{
  display: flex;
}
.nav2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Chivo', sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  text-align: center;
  width:50%;
  height:50%;
}
  .section-content{
        z-index:2;
    left:0;
    width:100vw;
  }
.credit1 img{
  width:50%;
}
.section2{
  height:240vh;
}
/* .box1-1,
.box1-2,
.box1-3{
  width:100%;
  height:50%;
}
.box2{
  width:100%;
  height:50%;
}
.rect1,
.rect2,
.rect3,
.rect4,
.rect5,
.rect6{
  width:50%;
  height:100%;
} */
.section3{
  height:100vh;
}
.rect1-4grid{
  /* background-color: white; */
  width:49%;
  height:48%;
}
.rect1-2column,
.rect2-2column{
  width:49%;
  height: 100%;
}
.rect1-2row,
.rect2-2row{
font-size: calc(18px + 3 * ((100vw - 320px) / 1280));

}
}
@media(max-width:420px){


}
