 /* font-family: 'Chivo', sans-serif;
font-family: 'Crimson Pro', serif; */
a{
  cursor: pointer;
  color: #534741;
  text-decoration: none;
}
body{
    background-color: #f3ebdd;
  color: #534741;
  margin:0;
}
.body{
  /* position: fixed; */
  /* display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start; */
}
.bar{
  position: fixed;
  top:0;
  left:0;
  z-index: 12;
  width: 100vw;
  height: 10vh;
  background-color: white;
  opacity: 0;
}
.section-logo{
  position: fixed;
  top: 2.5vw;
  left:2.5vw;
  /* transform: translateY(-35%); */
  height:23vh;
width:20vh;
    z-index:20;
    /* background-color: blue; */

}

.logo{
position: absolute;
top: 0;
  width: 100%;
}

.logo img{
    width: 100%;
}
.logo-condensed{
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
  /* background-color: red; */
  opacity:0;
  position: absolute;
  top: 0;
    width: 100%;
}
.logo-condensed img{
  width:62%;
}
.section-content{
  /* position: absolute;
  top: 0;
  left:12vw; */
  width:100vw;
  height:100%;
  /* background-color: yellow; */
}
.menudesktop{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 12;
  position: fixed;
  /* mix-blend-mode: difference; */
  /* background-color: white; */
  top: 0vh;
  left: 20vw;
  width:80vw;
    height: 10vh;
}
.nav{
  color: #534741;
   font-family: 'Chivo', sans-serif;
   font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  text-align: center;
width:25%;
height: 100%;
/* background-color: green; */
display: flex;
flex-wrap: nowrap;
justify-content:  flex-start;
align-items: center;
}
.nav a{
  margin-left:2.5vw;
  transition: .02s;
      color: #534741;
      font-weight: 400;
          /* border-bottom: .4rem solid #534741; */
}

.nav a:hover{
  font-weight: 400;
    color: #534741;

      /* border-bottom: .4rem solid #534741; */
}
.nav1{
  font-family: 'Chivo', sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
 text-align: center;
width:25%;
height: 100%;
/* background-color: blue; */
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
}
.nav1 a{
  margin-left:2.5vw;
  font-weight: 400;
    color: #534741;
  border-bottom: .2rem solid #534741;
}
.section1{
  width:100%;
  height:100vh;
  /* background-color: blue; */
  position: relative;
  top:0;
}
.hero{
    width:100%;
    height:100%;
    /* background-color: red; */
  background-position: bottom;
 background-size: cover;
 background-repeat: no-repeat;
  background-image: url(hero.jpg);
  /* position: absolute;
  top:0;
  left:0; */
}

.copy{
  font-family: 'Crimson Pro', serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  text-align: left;
  position: sticky;
  top:0;
}
.credits{
    position: relative;
  padding: 0px 0 0px 0;
  /* position: sticky;
  top:20vh; */
  /* background-color: #f3ebdd; */
  /* background-color: red; */
  width:100%;

}
.credit{

  background-color: #f3ebdd;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
.credit1{
  background-color: #f3ebdd;
  padding: 25px 0 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
  width:33.3%;
}
.credit1 img{
    /* background-color: blue; */
  width:30%;
}
.padding{
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  /* background-color: blue; */
  width:95%;
  height:100%;
}
.section2{
  width:100%;
  height:390vh;
  position: relative;
  background-color: #f3ebdd;
    /* background-color: blue; */
}

.title{
  z-index:10;
  position: sticky;
  top: 10vh;
width: 95%;
/* padding-top:2.5%; */
padding-left: 2.5%;
padding-right: 2.5%;
/* margin-right: auto; */
height:10vh;
background-color: #f3ebdd;
/* background-color:white; */
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}
.name{
  /* color:#257f4d; */
  background-color:white;
  line-height: 0;
  font-style: italic;
  font-family: 'Crimson Pro', serif;
  font-size: calc(24px + 8 * ((100vw - 320px) / 1280));
}
.header{
  position: absolute;
  top:50vh;
}
.cta,
.cta-hover{
  /* background: blue; */
  /* padding-left: 20px; */
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Chivo', sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
}
.cta-hover img{
  padding-left: 12px;
  width:25px;
}
.cta-words{
  /* background: red;
   */
  /* border-bottom: .4rem solid #534741; */
}
.cta img,
.cta-hover img{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  width:25px;
  /* background-color: yellow; */
}
.info{
  width:100%;
  height:100%;
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
}

.block{
  cursor: pointer;
  width:100%;
  height:33.33%;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.box1-1{
background-image: url(PURI7224.jpg);
  background-position: bottom;
background-size: cover;
background-repeat: no-repeat;
  /* background-color: blue; */
  width:50%;
  height:100%;
}
.box1-2{
  background-image: url(PURI7341.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: yellow; */
  width:50%;
  height:100%;
}
.box1-3{
  background-image: url(PURI7395.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: yellow; */
  width:50%;
  height:100%;
}
.box2{
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width:50%;
  height:100%;
}
.rect1{
  background-image: url(PURI7294.jpg);
    background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width:75%;
  height:35%;
}

.rect2{
  background-image: url(PURI7273.jpg);
    background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width:75%;
  height:35%;
}
.rect3{
  background-image: url(PURI7286.jpg);
    background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width:75%;
  height:35%;
}
.rect4{
  background-image: url(PURI7283.jpg);
    background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width:75%;
  height:35%;
}
.rect5{
  background-image: url(PURI7363.jpg);
    background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  width:75%;
  height:35%;
}
.rect6{
  background-image: url(PURI7384.jpg);
    background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width:75%;
  height:35%;
}

.section3{
  width:100%;
  height:400px;
  position: relative;
  background-color: #f3ebdd;
  /* position: sticky;
  left:0;
  top:0px; */
}
.section-contact{
  width:100%;
  height:100vh;
  position: relative;
  background-color: #f3ebdd;
}
.rect1-4grid{
  position: relative;
  /* background-color: white; */
  width:50%;
  height:50%;
}
.craft-image1{
  width:100%;
  height:100%;
  background-position: center;
  background-image: url(welding.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.craft-image2{
  width:100%;
  height:100%;
  background-position: center;
  background-image: url(polishing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.craft-image3{
  width:100%;
  height:100%;
  background-position: center;
  background-image: url(finishing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.craft-image4{
  width:100%;
  height:100%;
  background-position: center;
  background-image: url(casting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.craft-title{
  color:#fff;
  font-family: 'Crimson Pro', serif;
  font-size: calc(18px + 3 * ((100vw - 320px) / 1280));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left:2.5vw;
  bottom:2.5vw;
}
.section4{
  width:100%;
  height:85vh;
  position: relative;
  background-color: #f3ebdd;
}
.rect1-facility{
  cursor: pointer;
  background-color: pink;
width:100%;
height:100%;
}
.rect2-facility{
    cursor: pointer;
  background-color: pink;
width:30%;
height:30%;
}
.rect3-facility{
    cursor: pointer;
  background-color: pink;
width:30%;
height:30%;
}

.rect1-facility{
  background-position: center;
background-image: url(IMG_3947.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.rect2-facility{
  background-position: center;
background-image: url(IMG_3906.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.rect3-facility{
  background-position: center;
background-image: url(IMG_3956.jpg);
background-size: cover;
background-repeat: no-repeat;
}
.section5{
  /* z-index: 11; */
  position:relative;
  width:100%;
  height: 75vh;
  background-color: #f3ebdd;
}

.flex{
  align-items:  flex-end;
}
.rect1-2row{
  font-family: 'Crimson Pro', serif;
font-size: calc(18px + 3 * ((100vw - 320px) / 1280));
  width:30%;
  padding-bottom: 20px;
  /* background-color: red; */
}
.rect3-2row,
.rect4-2row{
  height:100%;
    width:30%;
}
.rect3-2row{
    background-position: bottom ;
  background-image: url(IMG_3888.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.rect4-2row{
    background-position: bottom ;
  background-image: url(IMG_3905.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.rect2-2row{
  width:66%;
  height:100%;
  background-position: bottom ;
background-image: url(IMG_3969.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.rect2-1facility,
.rect2-2facility,
.rect2-3facility{
  width:66%;
  height:100%;
}

.rect2-1facility{
  background-position: bottom ;
background-image: url(IMG_3880.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.rect2-2facility{
  background-position: bottom ;
background-image: url(IMG_3939.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.rect2-3facility{
  background-position: bottom ;
background-image: url(IMG_3952.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.contact{
  color: #f3ebdd;
    position:relative;
    width:100%;
    /* height:40vh; */
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
    background-color: #444444;
    /* background-color: blue; */
  justify-content:flex-start;
  align-items: flex-start;
}
.contact1{
  line-height: calc(16px + 7 * ((100vw - 320px) / 1280));
  font-family: 'Crimson Pro', serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));

  /* background-color: #534741; */
  /* background-color: red; */
  padding: 30px 0 30px 0;
  padding-left: 2.5vw;
  /* background-color: red; */
  width:17.5%;
}
.contact-title{

  color:#f3ebdd;
  font-weight: 400;
  font-family: 'Chivo', sans-serif;
  font-size: calc(15px + 4 * ((100vw - 320px) / 1280));
}
.menumobile{
  display: none;
}
footer{
  position: relative;
  /* top:0; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width:100%;
  font-family: 'Crimson Pro', serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  color: #f3ebdd;
  height: 10vh;
  background-color: #444444;
}
.footer{
  position: relative;
  bottom:0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width:100%;
  font-family: 'Crimson Pro', serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  color: #f3ebdd;
  height: 10vh;
  background-color: #444444;
}
.menuclose,
.menusplash{
  display: none;
}
iframe{
position: relative;
width:640px;
 height:360px;
}
@media(max-width:800px){

  .menudesktop{
    display: none;
  }
  .menumobile{
    cursor:pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    z-index: 12;
    position: fixed;
    /* background-color: red; */
    top: 0vh;
    left: 0;
    width:97.5%;
      height: 10vh;
  }
  .menuclose{
    color:#f3ebdd;
    font-family: 'Chivo', sans-serif;
    font-size: calc(18px + 4 * ((100vw - 320px) / 1280));
    cursor: pointer;
    display: none;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    z-index: 103;
    position: fixed;
    top: 0vh;
    right:2.5%;
      height: 10vh;
  }
.menunav{
color: #444;
  cursor: pointer;
  font-family: 'Chivo', sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
  border-bottom: .2rem solid #534741;
}
.menusplash{
  width:100vw;
  height:100vh;
  position: fixed;
  background-color: #444444;
  z-index:102;
  /* opacity: .8; */
  top:0;
  left:0;
  display: none;
  flex-wrap: wrap;
}
.show{
  display: flex;
}
.nav2{

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Chivo', sans-serif;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1280));
  text-align: center;
  width:50%;
  height:50%;
}
.nav2 a{
      color:#f3ebdd;
}
  .section-content{
        z-index:2;
    left:0;
    width:100vw;
  }
.credit1 img{
  width:50%;
}
.section2{
  height:240vh;
}

.section3{
  height:400px;
}

.rect1-2column,
.rect2-2column{
  width:50%;
  height: 100%;
}
.rect1-2row,
.rect4-2row,
.rect3-2row{
    width:100%;
font-size: calc(18px + 3 * ((100vw - 320px) / 1280));
}


.rect2-2row,
.rect2-1facility,
.rect2-2facility,
.rect2-3facility{
  width:100%;
  height:75vh;
}
.contact1{
  /* background-color: red; */
  width:30%;
}
iframe{
width:420px;
 height:236px;
}
}
@media(max-width:420px){
  .section1{
    height:70vh;
  }
  .credit1{
    width:100%;
  }
  .credit1 img{
    width:30%;
  }

  .section2{
    height:480vh;
  }

  .box1-1,
  .box1-2,
  .box1-3{
    width:100%;
    height:50%;
  }
  .box2{
    width:100%;
    height:50%;
  }
  .rect1,
  .rect2,
  .rect3,
  .rect4,
  .rect5,
  .rect6{
    width:100%;
    height:50%;
  }

  .section3{
    height:400px;
  }
  .rect1-4grid{
    width:100%;
    height:25%;
  }
  .contact1{
    width:47.5%;
  }
  .rect1-2row{
    width:100%;
  }
  .rect2-2row,
  .rect2-1facility,
  .rect2-2facility,
  .rect2-3facility{
    width:100%;
    height:60vh;
  }
  .section4{
    height: 70vh;
  }
  .rect2-facility{
  /* height: 30%; */
  }
  .rect3-facility{
  /* height: 30%; */
  }
.nav2{

  width:100%;
  height:25%;
}
iframe{
width:300px;
 height:168px;
}
}
